<div class="col-12 col-md-6 col-xl-3">
    <div class="card stat-card {{ card_class }}">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <div class="stat-label">{{ label }}</div>
                    <div class="stat-value">{{ valor }}</div>
                </div>
                <i class="fas fa-{{ icono }} stat-icon" style="color: {{ color_hex }};"></i>
            </div>
        </div>
    </div>
</div>
